<style type="text/css">
/* Default
------------------------------------------------- */

html {
   margin: 0px;
   height: 100%;
   width: 100%;
}
body {
   margin: 0px;
   min-height: 100%;
   width: 100%;
   background-color: #9370DB;
}

/* Layout
------------------------------------------------------------ */

#container {
 width: 100%;　/* Contents width set at 900px */
 height: 100%;
 
}

#header {
  position:relative;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  background-image: url("tentacle.jpg");
  background-attachment: fixed;
  background-repeat:no-repeat;
}

#wrap {
 width: 900px; /*Width set at680px（460px + 208px) */
 float: left; /*Wrap main and side menu 1 around left*/
}

#main {
 float: right; /* Wrap entries, etc. around right */
 width: 680px !important; /* Set width*/
 width /* for IE5.5 */: 670px;
}

#main_part { 
  margin-left: 15px;
  margin-top: 15px;
}

#left {
 float: left; /* Wrap side menu 1 around left */
 width: 220px; /* Set width */
}

#right {
 float: right; /* Wrap side menu 2 around right */
 width: 400px; /* Set width*/
}

#footer {
  clear: both; /* Remove all wrap arounds */
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url("tentacle.jpg");
  background-attachment: fixed;
  background-repeat:no-repeat;
}

#fix {
  display: block;
}
/* Layout
------------------------------------------------------------ */

/*ob
-------------------------------------------------------------*/

table {
  border-radius: 10px;
  margin-left: 15px;
  border-color: #EE82EE;
  border-style: solid;
  border-width: 5px;
}

li {
  font-size: 20px;
}
/*ob
-------------------------------------------------------------*/


/*class
-------------------------------------------------------------*/
.title {
  font-family: Avantgarde;
  font-style: oblique;
  color: white;
}

.rbtn {
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #DB7093;
  font-size: 18px; 
  padding: 5px
}

.btn {
  width: 100px;
  height: 30px;
  border: none;
  background-color: #663399;
  color: white;
  font-size: 16px;
  font-family: "Microsoft YaHei",sans-serif;
  border-radius: 5px;
}
/*class
-------------------------------------------------------------*/
</style>