/* Default
------------------------------------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}
body {
  background-color: #9370db;
  position: relative;
}
/*header
-------------------------------------------------------------*/
header {
  width: 100%;
  padding-top: 40px;
  text-align: center;
  background-image: url("tentacle.jpg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
}

.box1 {
  width: 8%;
}

.box2 {
  width: 84%;
}

.box3 {
  width: 8%;
}
/*end*/

/*nav
-------------------------------------------------------------*/
nav {
  position: sticky;
  top: 0;
  background-color: #8c2a99;
}
nav#top {
  position: relative;
}
nav ul {
  display: flex;
  padding-left: 1rem;
  list-style-type: none;
}
nav ul li {
  padding: 0.5rem 0.75rem;
}
nav ul li a {
  padding: 0.5rem 0.75rem;
  color: white;
  text-decoration: none;
  transition: all 0.25s ease;
}
nav ul li a:hover {
  background-color: deeppink;
}
/**/

/*wrap
-------------------------------------------------------------*/
.wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
}

section.main,
section.right {
  padding: 1.5rem;
  margin: 1rem;
}
/*end*/
/*left part
-------------------------------------------------------------*/
.left {
  width: 30%;
}
/*end*/

/*main part
-------------------------------------------------------------*/
.main {
  width: 50%;
  padding: 1rem;
}

.main_contain {
  display: flex;
  flex-direction: column;
}
/*end*/

/*right part
-------------------------------------------------------------*/
.right {
  width: 30%;
}
/*end*/

/*footer
-------------------------------------------------------------*/
#footer {
  clear: both; /* Remove all wrap arounds */
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url("tentacle.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
}
/*end*/

/*select
-------------------------------------------------------------*/

#selector {
  border-radius: 25px;
  background-color: #663399;
  border: 2px #ccc solid;
  color: white;
  font-size: 20px;
  margin: 5px;
}
/*end*/

/*some class
-------------------------------------------------------------*/
.title {
  font-family: Avantgarde;
  font-style: oblique;
  color: white;
}

img {
  display: block;
}

.rbtn {
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #db7093;
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn {
  background-color: #ee82ee;
  text-align: center;
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: #ffffff;
}

.imgrds {
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
/*end*/

/*RWD*/
@media screen and (max-width: 650px) {
  nav ul {
    flex-direction: column;
  }
  div.wrap {
    display: flex;
    flex-direction: column;
  }
  .left {
    width: 100%;
  }
  .main {
    width: 100%;
  }
  .right {
    width: 100%;
  }
}
/*end*/
.side-menu {
  width: 200px;
  height: 100%;
  padding: 50px 0;
  box-sizing: border-box;
  background: linear-gradient(45deg, #3381b0, #c2196c);
  display: flex;
  flex-direction: column;
  box-shadow: 5px 0px 10px hsla(240, 50%, 20%, 0.6);
}
nav#left {
  border-bottom: 2px solid gray;
}
nav#left a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  position: relative;
}
/* 若設定一般border會把整塊貼滿，不好看 */
nav#left a + a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 10px;
  left: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
nav#left a .tou {
  margin-right: -1.1em;
  transform: scale(0);
  transition: 0.3s;
}
nav#left a:hover .tou {
  margin-right: 0em;
  transform: scale(1);
}
