<style type="text/css">
/* Default
------------------------------------------------- */

html {
   margin: 0px;
   height: 100%;
   width: 100%;
}
body {
   margin: 0px;
   min-height: 100%;
   width: 100%;
   background-color: #9370DB;
}

/* Layout
------------------------------------------------------------ */

#container {
 width: 100%;　/* Contents width set at 900px */
 height: 100%;
 
}

#header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  background-image: url("tentacle.jpg");
  background-attachment: fixed;
  background-repeat:no-repeat;
}

#wrap {
 width: 900px; /*Width set at680px（460px + 208px) */
 float: left; /*Wrap main and side menu 1 around left*/
}

#main {
 float: right; /* Wrap entries, etc. around right */
 width: 720px !important; /* Set width*/
 width /* for IE5.5 */: 710px;
}

#main_part { 
  margin-left: 15px;
  margin-top: 15px;
}

#left {
 float: left; /* Wrap side menu 1 around left */
 width: 180px; /* Set width */
}

#right {
 float: right; /* Wrap side menu 2 around right */
 width: 400px; /* Set width*/
}

#footer {
  clear: both; /* Remove all wrap arounds */
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url("tentacle.jpg");
  background-attachment: fixed;
  background-repeat:no-repeat;
}
/* Layout
------------------------------------------------------------ */

/*class
-------------------------------------------------------------*/

h1 {
  font-family: Avantgarde;
  font-style: oblique;
  color: white;
}

a[href] {
  color: black;
}

button {
  padding: 5px 10px;
}
/*class
-------------------------------------------------------------*/
</style>