<style type="text/css">
/* Default
------------------------------------------------- */

html {
   margin: 0px;
   height: 100%;
   width: 100%;
}
body {
   margin: 0px;
   min-height: 100%;
   width: 100%;
   background-color: #9370DB;
}

/* Layout
------------------------------------------------------------ */

#container {
 width: 100%;　/* Contents width set at 900px */
 height: 100%;
 
}

#header {
  position:relative;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  background-image: url("tentacle.jpg");
  background-attachment: fixed;
  background-repeat:no-repeat;
}

#wrap {
 width: 900px; /*Width set at680px（460px + 208px) */
 float: left; /*Wrap main and side menu 1 around left*/
}

#main {
 float: right; /* Wrap entries, etc. around right */
 width: 600px !important; /* Set width*/
 width /* for IE5.5 */: 600px;
}

#main_part { 
  margin-left: 15px;
  margin-top: 15px;
}

#left {
 float: left; /* Wrap side menu 1 around left */
 width: 300px; /* Set width */
}

#right {
 float: right; /* Wrap side menu 2 around right */
 width: 400px; /* Set width*/
}

#footer {
  clear: both; /* Remove all wrap arounds */
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url("tentacle.jpg");
  background-attachment: fixed;
  background-repeat:no-repeat;
}

#menu {
  width: 170px;
  height: 40px;
  background-color: #8A2BE2;
  border: none;
}

#home {
  position: left;
  padding-left: 10px;
}

#fix {
  display: block;
}
/* Layout
------------------------------------------------------------ */

/*ob
-------------------------------------------------------------*/

a[href] {
  color: black;
}

button {
  padding: 5px 10px;
  font-size: 18px;
}

li {
  padding-top: 10px;
  padding-bottom: 10px;
}


table {
  border-top-right-radius:30px;
  border-bottom-right-radius: 30px;
  background-color: #663399;
  border: 2px #ccc solid;
  color: white;
  font-size: 20px;
  margin: 5px;
}

/*ob
-------------------------------------------------------------*/


/*class
-------------------------------------------------------------*/
.title {
  font-family: Avantgarde;
  font-style: oblique;
  color: white;
}

.rbtn {
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #DB7093;
}
/*class
-------------------------------------------------------------*/
</style>